<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>Lyrics Cloud</title>
    <!-- LINK TO JQUERY FILE -->
      <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
      <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
  </head>

  <body>
    <div class="page-header">
      <h1>Lyrics <small>D3 Visualization</small></h1>
      <button id="random-song-button" type="button">Visualize Random Song</button>
    </div>

    <div class="container-fluid">
      
      <div class="song-info">   
        <h4 id="song-title"></h4>
        <p id="song-artist"></p>
        <div id="song-spotify"></div>
      </div>

      <div id="d3-area"></div>

    </div> <!-- closing for container-fluid -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="http://www.d3plus.org/js/d3plus.js"></script>
    <!-- simple lyrics bar graph -->
    <!-- // <script src="../static/simple_bar_chart.js"></script> -->
    <!-- // <script src="../static/circles.js"></script> -->
    <script src="../static/d3.layout.cloud.js"></script>
    <script src="../static/wordcloud.js"></script>
  </body>
</html>
