<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

<head>
  <!-- LINK TO JQUERY FILE -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>


<body>

<h3>TEST CODE WITH JUST ONE SONG AND THE FIRST TEN WORDS</h3>

<button id="test" type="button">DO d3 STUFF!</button>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>

  <!-- simple lyrics bar graph -->
  <script src="../static/lyrics.js"></script>


</body>
