<!DOCTYPE html>
<meta charset="utf-8">
<style>

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

</style>

<head>
  <title>D3 GOODNESS</title>
  <!-- LINK TO JQUERY FILE -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
</head>

<body>
  <button id="test" type="button">Get Random Song And Do d3 Stuff!</button>
 
  <h3 id="song-title"></h3>
  <p id="song-artist"></p>
  <p id="song-genre"></p>
  <p id="song-spotify"></p>

  <div id="d3-area"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  <!-- simple lyrics bar graph -->
  <script src="../static/simple_bar_chart.js"></script>
</body>
